<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand my-flex navTitle" href="/home/">Food<div class="colored">Station</div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user_group == 'customer' %}
                    <li>
                        <a class="nav-link link" href="{% url 'order_placed' %}">My Orders</a>
                    </li>
                    <li>
                        <a class="nav-link link" href="{% url 'cart' %}">Cart</a>
                    </li>
                {% endif %}
                {% if users_restaurant != None %}
                    <li>
                        <a class="nav-link link" href="{% url 'restaurant' users_restaurant.id %}">My Restaurant</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link link" href="{% url 'restaurant_detail' request.user.id %}">Create Restaurant</a>
                    </li>
                {% endif %}
                <li>
                    <a class="nav-link link logout" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
                </li>
            </ul>
            
            
        </div>
    </div>
</nav>