:root {
    --var-colorPrimary: rgb(255, 73, 118);
    --var-colorSecondary: rgb(255, 117, 117);
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("../images/food_bg.jpg");
    background-size: 100% 100%;
}

#bodyContainer {
    width: 100vw;
    height: 92vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (min-width: 992px) {
    #bodyContainer {
        height: 92vh;
    }
}

.my-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slogenContainer {
    height: 15vh;
    width: 100vw;
}

#slogenSubContainer h4 {
    color: var(--var-colorPrimary);
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contentContainer {
    height: 77vh;
    width: 100vw;
    background: white;
    overflow: scroll;
}

#subtitleContainer {
    height: 10vh;
    border-bottom: 1px solid grey;
    margin: 0 4vw 0 4vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#subtitleContainer h3 {
    color: var(--var-colorPrimary);
}


#listContainer {
    height: 67vh;
    width: 100vw;
}

.row {
    margin: 0;
    padding: 2vh 0 0 0;
}

.restaurantContainer {
    width: 90vw;
    height: 15vh;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 80px -16px rgba(107,107,107,1);
    -moz-box-shadow: 10px 10px 80px -16px rgba(107,107,107,1);
    box-shadow: 10px 10px 80px -16px rgba(107,107,107,1);
    background: white;
}

.restaurantPictogramContainer {
    position: relative;
    width: 0;
    height: 100px;
    padding-left: 100px;
    background: url("../images/food_pictogram.png");
    background-size: contain;
}

.restaurantContentContainer {
    height: 100%;
    width: 65%;
    color: black;
    text-decoration: none;
}

.restaurantContentContainer * {
    padding-left: 1vw;
}

.restaurantContentContainer h4 {
    margin-top: 2.5vh;
}

.restaurantContentContainer p {
    margin-top: 3vh;
}

h4, p {
    margin: 0;
    padding: 0;
}

.buttonContainer {
    height: 100%;
    width: 20%;
}

.buttonContainer a {
    border: 3px solid var(--var-colorPrimary);
    color: var(--var-colorPrimary);
    width: 75%;
    height: 6.5vh;
    border-radius: 0.75em;
    transition: .5s;
}

.buttonContainer a:hover {
    background-color: var(--var-colorSecondary);
    color: white;
}

@media only screen and (max-width: 425px) {
    .restaurantContainer {
        justify-content: start;
    }
    
    .restaurantPictogramContainer {
        height: 80px;
        padding-left: 80px;
    }
    
    h4 {
        font-size: 15px;
    }

    p {
        font-size: 12.5px;
    }

    .buttonContainer {
        width: 50%;
    }
}