:root {
    --var-colorPrimary: rgb(255, 73, 118);
    --var-colorSecondary: rgb(255, 117, 117);
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("../images/food_bg.jpg");
    background-size: 100% 100%;
}

.my-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}