/*
    Mobile, Tablet view rules
*/
@media only screen and (max-width: 992px) {

    .detailsContainer,
    .priceContainer {
        width: 50%;
    }

    .foodName,
    .restaurantName {
        height: 50%;
    }

    .foodName {
        font-weight: bold;
        font-size: larger;
    }

    .restaurantName {
        font-size: small;
    }

    .foodPrice {
        padding: 0.25em 0.5em;
        margin: 0;
        border: 2px solid black;
        border-radius: 1em;
        font-weight: bold;
        font-size: large;
    }

    #orderDetailsContainer p {
        padding: 0;
        padding-bottom: 1vh;
        font-size: large;
        margin: 0;
        font-weight: bold;
    }

    #orderDetailsContainer {
        width: 100%;
    }

    #innerContainer {
        width: 80%;
    }

    #totalPriceContainer {
        width: 50%;
    }

    #address,
    #phoneNumber,
    #customer_name,
    #description {
        text-align-last: left;
        border: 1px solid grey;
    }
}

@media only screen and (min-width: 470px) {
    #innerContainer {
        width: 90%;
    }
}

/*
    Desktop view rules
*/
@media only screen and (min-width: 993px) {
    #orderDetailsContainer,
    #totalPriceContainer {
        width: 50%;
    }

    #address,
    #phoneNumber,
    #customer_name,
    #description {
        border: 1px solid grey;
    }

    .row {
        height: 25vh;
    }

    #innerContainer {
        width: 60%;
    }
}