body {
    height: 100vh;
    width: 100vw;
}

form {
    background-color: lightblue;
    padding: 2em;
    border-radius: 1em;
}

.my-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}