:root {
    --var-colorPrimary: rgb(255, 73, 118);
    --var-colorSecondary: rgb(255, 117, 117);
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("../images/food_bg.jpg");
    background-size: 100% 100%;
    color: white;
}

#bodyContainer {
    width: 100vw;
    height: 92vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}

@media only screen and (min-width: 992px) {
    #bodyContainer {
        height: 92vh;
    }

    .phoneView {
        display: none;
    }

    .desktopView {
        display: block;
    }
}

@media only screen and (max-width: 992px) {
    .phoneView {
        display: block;
    }

    .desktopView {
        display: none;
    }
}

.my-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleContainer {
    height: 15vh;
    width: 100vw;
}

#titleSubContainer h4 {
    color: var(--var-colorPrimary);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#subtitleContainer {
    height: 10vh;
    border-top: 1px solid grey;
    margin: 0 4vw 0 4vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#subtitleContainer h3 {
    color: var(--var-colorPrimary);
}

#editButtonContainer {
    font-family: sans-serif;
    border: 3px solid orange;
    color: var(--var-colorPrimary);
    height: 6.5vh;
    border-radius: 0.75em;
    transition: .5s;
    font-size: 12.5px;
    padding: 0 0.5em;
}

#editButton {
    font-weight: bold;
    color: orange;
    margin: 0;
    padding: 0;
}

#editButtonContainer:hover {
    background-color: rgb(255, 233, 193);
    color: black;
}

#listContainer {
    height: 67vh;
    width: 100vw;
}

.row {
    margin: 0;
    padding: 2vh 0 0 0;
}

.foodContainer {
    width: 90vw;
    height: 17.5vh;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 80px -16px rgba(107,107,107,1);
    -moz-box-shadow: 10px 10px 80px -16px rgba(107,107,107,1);
    box-shadow: 10px 10px 80px -16px rgba(107,107,107,1);
    background: white;
}

.foodPictogramContainer {
    position: relative;
    width: 0;
    height: 90px;
    padding-left: 90px;
    background: url("../images/steak2.png");
    background-size: 100% 100%;
}

.foodContentContainer {
    height: 100%;
    width: 65%;
    color: black;
    text-decoration: none;
}

.foodContentContainer * {
    padding-left: 1vw;
}

.foodContentContainer h4 {
    margin-top: 2.5vh;
}

.foodContentContainer p {
    margin-top: 1vh;
}

h4, p {
    margin: 0;
    padding: 0;
}

.descriptionContainer {
    max-height: 25%;
    overflow: scroll;
}

.buttonContainer {
    height: 100%;
    width: 20%;
}

.buttonContainer input {
    border: 3px solid var(--var-colorPrimary);
    color: var(--var-colorPrimary);
    width: 75%;
    height: 6.5vh;
    border-radius: 0.75em;
    transition: .5s;
    font-size: 12.5px;
    margin: 0 0.25em;
    font-weight: bold;
}

.buttonContainer input:hover {
    background-color: var(--var-colorSecondary);
    color: white;
}

.editButtonsContainer {
    text-align: center;
}

.modifyButton,
.deleteButton {
    width: 75%;
    height: 4vh;
    border-radius: 0.75em;
    transition: .5s;
    font-size: 12.5px;
    margin: 0 0.25em;
    font-weight: bold;
}

.modifyButton {
    border: 3px solid orange;
    color: orange;
    margin-bottom: 1em;
}

.deleteButton {
    border: 3px solid red;
    color: red;
}

@media only screen and (max-width: 600px) {
    .foodContainer {
        justify-content: start;
    }
    
    .foodPictogramContainer {
        height: 80px;
        padding-left: 80px;
    }
    
    .foodContentContainer h4 {
        margin-top: 3vh;
    }

    .descriptionContainer {
        max-height: 30%;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 12.5px;
    }

    .buttonContainer {
        width: 50%;
    }
}