{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/index.css' %}">
<div class="bodyContainer">
    <div class="imgContainer my-flex">
        <h1>One bite can change your mind...</h1>
    </div>
    <h2>Hello, {{ request.user }}. Here are the available restaurants... ({{restaurants.count}})</h2>
    <hr>
    <div class="listContainer">
        {% for restaurant in restaurants %}
            <div class="row">
                <div class="restaurantContainer">
                    <div class="informationContainer">
                        <h4>{{ restaurant.name }}</h4>
                        <p>{{ restaurant.address }}</p>
                    </div>
                    <div class="buttonContainer my-flex">
                        <a class="btn btn-success" href="{% url 'restaurant' restaurant.id %}">Go to restaurant</a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}   
    </div>
    <a class="btn btn-primary" href="{% url 'restaurant_detail' request.user.id %}">My Restaurant</a>
</div>

{% endblock %}