{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
    <div id="bodyContainer">
        <div id="slogenContainer" class="my-flex">
            <div id="slogenSubContainer">
                <h1>QUALITY FOOD</h1>
                <h4>QUALITY LIFE</h4>
            </div>
        </div>
        <div id="contentContainer">
            <div id="subtitleContainer" class="my-flex">
                <h3>Restaurants</h3>
            </div>
            <div id="listContainer">
                {% for restaurant in open_restaurants %}
                    <div class="row my-flex">
                        <div class="restaurantContainer my-flex">
                            <div class="restaurantPictogramContainer"></div>
                            <div class="restaurantContentContainer">
                                <h4>{{ restaurant.name }}</h4>
                                <p>{{ restaurant.address }}</p>
                            </div>
                            <div class="buttonContainer my-flex">
                                <a class="btn my-flex" href="{% url 'restaurant' restaurant.id %}"><b>View</b></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for restaurant in closed_restaurants %}
                    <div class="row my-flex">
                        <div class="restaurantContainer my-flex">
                            <div class="restaurantPictogramContainer"></div>
                            <div class="restaurantContentContainer">
                                <h4>{{ restaurant.name }}</h4>
                                <p>{{ restaurant.address }}</p>
                            </div>
                            <div class="restaurantInfo my-flex">
                                <div class="infoContainer">
                                    <h4 class="closedText">Closed</h4>
                                    <p class="openHours">Opens at {{ restaurant.open_time }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}