{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/form.css' %}">

    <div id="bodyContainer" class="my-flex">
        <form action="" method="POST">
            <h1>Log in</h1>
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="username" placeholder="Username..." class="form-input">
            </div>
            <div class="mb-3">
                <input type="password" name="password" placeholder="Password..." class="form-input">
            </div>
            <div class="btnContainer my-flex">
                <input type="submit" value="Log in" id="submitButton">
            </div>

            <div class="messagesContainer my-flex">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <p class="error">{{ message }}</p>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <p class="warning">{{ message }}</p>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <p class="success">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="justify-content-center links">
                <p>Don't have an account? Sign up <a href="{% url 'register' %}">here</a>.</p>
                <p>Are you a restaurant owner? Sign up <a href="{% url 'registerRestaurant' %}">here</a>.</p>
            </div>
        </form>        
    </div>
    {% include 'accounts/footer.html' %}
{% endblock %}