{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/form.css' %}">

    <div id="bodyContainer" class="my-flex">
        <form method="POST">
            <h1>Register</h1>
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field }}
                </div>
            {% endfor %}
            <div class="btnContainer my-flex">
                <input type="submit" value="Register" id="submitButton">
            </div>
            <div class="errorsContainer">
                {% for field, error in form.errors.items %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="my-flex justify-content-center links">
                <p>Already have an account? Log in <a href="{% url 'login' %}">here</a>.</p>
            </div>
        </form>
    </div>
    {% include 'base/footer.html' %}

    <script>
        var form_input_fields = document.getElementsByTagName('input')
        form_input_fields[1].placeholder='Username...'
        form_input_fields[2].placeholder='Email...'
        form_input_fields[3].placeholder='Enter password...'
        form_input_fields[4].placeholder='Re-enter password...'

        for (let i = 1; i < form_input_fields.length - 1; i++) {
            form_input_fields[i].setAttribute('class', 'form-input')
        }
    </script>
{% endblock %}